*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:90%;
    max-width:1300px;
    margin:40px auto;
}

h1{
    text-align:center;
    color:#d96b00;
    font-size:48px;
    font-weight:bold;
}

.sub{
    text-align:center;
    color:#666;
    font-size:20px;
    margin-top:10px;
}

.phone{
    text-align:center;
    color:#666;
    font-size:20px;
    margin-top:5px;
    margin-bottom:25px;
}

hr{
    border:none;
    border-top:3px solid #d96b00;
    margin-bottom:35px;
}#app-list{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
border:1px solid #eee;
}

.card h2{
font-size:28px;
margin-bottom:25px;
}

button{
width:100%;
padding:18px;
background:#d96b00;
border:none;
border-radius:8px;
color:white;
font-size:22px;
font-weight:bold;
cursor:pointer;
}

button:hover{
opacity:.9;
}